/* shapes */

*{
    font-family: sans-serif;
    margin: 20px;
}
body{
    background: rgb(55,236,201);
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
h2{
    padding-left: 20px;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}
.oval{
    width: 150px;
    height: 100px;
    border-radius: 50%;
    background-color: gray;
}
.parallelogram{
    width: 200px;
    height: 100px;
    background-color: red;
    transform: skew(-20deg);
}
.rectangle{
    width: 200px;
    height: 100px;
    background-color: blue;
}
.square{
    width: 100px;
    height: 100px;
    background-color: green;
}
.trapezoid{
    width: 75px;
    border-bottom: 100px solid black;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
}
.triangle{
    width: 0px;
    height: 0px;
    border-bottom: 100px solid black;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
}
.triangle-up-down{
    width: 0px;
    height: 0px;
    border-top: 100px solid black;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
}
.triangle-left{
    width: 0px;
    height: 0px;
    border-right: 100px solid black;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.triangle-right{
    width: 0px;
    height: 0px;
    border-left: 100px solid black;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
